body{
    background: #97745f;
    font-family: "Nunito", sans-serif;
}

#mainnavbar .navbar-brand{
    color: rgb(53, 21, 3);   
}

#mainnavbar .nav-link{
    color: rgb(53, 21, 3)
}

#mainnavbar .nav-link:hover {
    color: #ea1c2c;    
}

#mainnavbar{
    font-size: 1.5rem;
    font-weight: 100px;

}
#mainnavbar .navbar-toggler {
    border-color:rgb(53, 21, 3);
  } 

#headinggroup span{
    color :white
}

#headinggroup h1{
    font-weight: 100;

}

#media (max-width: 1200px){
    #headinggroup h1{
        font-weight:100;
        font-size:200;
    }

}

.blurb h2{
    color: rgb(37, 15, 2);
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p{
    color:rgb(58, 24, 5);
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2.0;
}

.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar.scrolled{
    background: rgb(172, 166, 163);
    transition  : background 1s;
}
