body{
	background-color: #ecede6;
	margin:0;
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
 	border-radius: 10% 30% 50% 70%;
	transition: all 0.6s;
	--webkit-transition: all 0.6s;
	--moz-transition: all 0.6s;
}

#container{
	max-width: 600px;
	/*margin 0 auto means 0 margin on the top and left and auto margin on left and right*/
	margin: 0 auto;
}

h1{
	color: white;
	text-align:center;
	background: steelblue;
	margin:0;
	padding: 20px 0;
}

#message{
	display: inline-block;
	width:20%; 
	font-weight:700;
	
}

#stripe{
	background-color:white;
	height:30px;
	text-align:center;
}

.selected{
	color:white;
	background:steelblue;
}

button{
 	border : none;
 	background:none;
 	text-transform:upperCase;
	height:100%;
	font-weight:700;
	color:steelblue;
	letter-spacing:1px;
	transition: all 0.4s;
}

button:hover{
	color:white;
	background:steelblue;
}
