body{
	background-color: #232323;
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%
}

#container{
	max-width: 600px;
	/*margin 0 auto means 0 margin on the top and left and auto margin on left and right*/
	margin: 0 auto;
}

h1{
	color: white;
}

#message{
	background-color: white;
}